<html>
    <body>
        <h1>Add a new message</h1>
        <form method="POST" action="/new">
            <label for="messageName">Name:</label>
            <input type="text" id="messageName" name="name"><br>
            <label for="messageText">Message:</label>
            <input type="text" id="messageText" name="text">
            <button type="submit">Submit message</button>
        </form>
    </body>
</html>